In [7]:
import numpy as np
import pandas as pd
import gender_guesser.detector as gender
import os

In [43]:
athletes = pd.read_excel('https://raw.githubusercontent.com/fmyilmaz/Cloud-Projects/adaaea8c4c45ec202cda0bbbb61638ababa1edc9/Azure/Data%20Pipelines%20in%20Azure%20with%20Azure%20Synapse%20Analytics/data/Athletes.xlsx')

In [44]:
athletes.head(30)

,Name,NOC,Discipline
0,AALERUD Katrine,Norway,Cycling Road
1,ABAD Nestor,Spain,Artistic Gymnastics
2,ABAGNALE Giovanni,Italy,Rowing
3,ABALDE Alberto,Spain,Basketball
4,ABALDE Tamara,Spain,Basketball
5,ABALO Luc,France,Handball
6,ABAROA Cesar,Chile,Rowing
7,ABASS Abobakr,Sudan,Swimming
8,ABBASALI Hamideh,Islamic Republic of Iran,Karate
9,ABBASOV Islam,Azerbaijan,Wrestling
10,ABBINGH Lois,Netherlands,Handball
11,ABBOT Emily,Australia,Rhythmic Gymnastics
12,ABBOTT Monica,United States of America,Baseball/Softball
13,ABDALLA Abubaker Haydar,Qatar,Athletics
14,ABDALLA Maryam,Egypt,Artistic Swimming
15,ABDALLAH Shahd,Egypt,Artistic Swimming
16,ABDALRASOOL Mohamed,Sudan,Judo
17,ABDEL LATIF Radwa,Egypt,Shooting
18,ABDEL RAZEK Samy,Egypt,Shooting
19,ABDELAZIZ Abdalla,Egypt,Karate
20,ABDELAZIZ Farah,Egypt,Table Tennis
21,ABDELAZIZ Feryal,Egypt,Karate
22,ABDELMAWGOUD Mohamed,Egypt,Judo
23,ABDELMOTTALEB Diaaeldin Kamal Gouda,Egypt,Wrestling
24,ABDELRAHMAN Ihab,Egypt,Athletics
25,ABDELSALAM Mohamed,Egypt,Football
26,ABDELSALAM Nour,Egypt,Taekwondo
27,ABDELWAHED Ahmed,Italy,Athletics
28,ABDI Bashir,Belgium,Athletics
29,ABDIRAHMAN Abdi,United States of America,Athletics

In [42]:
# spliting the name into first name and last name

def split_name(name: str) -> tuple:
    """ Split the name into first name and last name 
    Args:
        name (str): Name of the athlete
        Returns:
        tuple: (first_name, last_name)
        
    Examples:
    >>> split_name('Michael Phelps')
    ('Michael', 'Phelps')
    """
    parts = name.split(sep=' ', maxsplit=1)
    if len(parts) == 2:
        last_name, first_name = parts
        if last_name.isupper():
            return first_name, last_name  
    return name, ''

In [45]:
athletes[['FirstName', 'LastName']] = athletes['Name'].apply(lambda x: pd.Series(split_name(x)))

In [46]:
athletes.head(30)

,Name,NOC,Discipline,FirstName,LastName
0,AALERUD Katrine,Norway,Cycling Road,Katrine,AALERUD
1,ABAD Nestor,Spain,Artistic Gymnastics,Nestor,ABAD
2,ABAGNALE Giovanni,Italy,Rowing,Giovanni,ABAGNALE
3,ABALDE Alberto,Spain,Basketball,Alberto,ABALDE
4,ABALDE Tamara,Spain,Basketball,Tamara,ABALDE
5,ABALO Luc,France,Handball,Luc,ABALO
6,ABAROA Cesar,Chile,Rowing,Cesar,ABAROA
7,ABASS Abobakr,Sudan,Swimming,Abobakr,ABASS
8,ABBASALI Hamideh,Islamic Republic of Iran,Karate,Hamideh,ABBASALI
9,ABBASOV Islam,Azerbaijan,Wrestling,Islam,ABBASOV
10,ABBINGH Lois,Netherlands,Handball,Lois,ABBINGH
11,ABBOT Emily,Australia,Rhythmic Gymnastics,Emily,ABBOT
12,ABBOTT Monica,United States of America,Baseball/Softball,Monica,ABBOTT
13,ABDALLA Abubaker Haydar,Qatar,Athletics,Abubaker Haydar,ABDALLA
14,ABDALLA Maryam,Egypt,Artistic Swimming,Maryam,ABDALLA
15,ABDALLAH Shahd,Egypt,Artistic Swimming,Shahd,ABDALLAH
16,ABDALRASOOL Mohamed,Sudan,Judo,Mohamed,ABDALRASOOL
17,ABDEL LATIF Radwa,Egypt,Shooting,LATIF Radwa,ABDEL
18,ABDEL RAZEK Samy,Egypt,Shooting,RAZEK Samy,ABDEL
19,ABDELAZIZ Abdalla,Egypt,Karate,Abdalla,ABDELAZIZ
20,ABDELAZIZ Farah,Egypt,Table Tennis,Farah,ABDELAZIZ
21,ABDELAZIZ Feryal,Egypt,Karate,Feryal,ABDELAZIZ
22,ABDELMAWGOUD Mohamed,Egypt,Judo,Mohamed,ABDELMAWGOUD
23,ABDELMOTTALEB Diaaeldin Kamal Gouda,Egypt,Wrestling,Diaaeldin Kamal Gouda,ABDELMOTTALEB
24,ABDELRAHMAN Ihab,Egypt,Athletics,Ihab,ABDELRAHMAN
25,ABDELSALAM Mohamed,Egypt,Football,Mohamed,ABDELSALAM
26,ABDELSALAM Nour,Egypt,Taekwondo,Nour,ABDELSALAM
27,ABDELWAHED Ahmed,Italy,Athletics,Ahmed,ABDELWAHED
28,ABDI Bashir,Belgium,Athletics,Bashir,ABDI
29,ABDIRAHMAN Abdi,United States of America,Athletics,Abdi,ABDIRAHMAN

In [ ]:
soy adı kğüçük harf yapma